<main>
  <div class="main_conatainer"></div>
</main>
<div class="container1">
  <div class="WC_PrimarySymptom__Title">Doctor Activities</div>
  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">
      Choose your specialization
    </div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <!-- <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div> -->
  </div>

  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let spl of specializations">
      <button type="button" class="btn btn-outline-info btn-sm button-img">
        <div class="WC_SymptomPill">
          <div class="WC_SymptomPill__Image">
            <div class="custom-control custom-checkbox mb-4">
              <input
                class="custom-control-input"
                id="spl+{{spl.specializationId}}"
                type="checkbox"
                (click)="selectedItem(spl.specializationId,'Specialization',$event.target.checked)"
              />
              <label class="custom-control-label" for="spl+{{spl.specializationId}}"> </label>
            </div>
            <img
              src="{{ spl.specializationImgUrl }}"
              class="WC_SymptomPill__Image__Img"
            />
          </div>
          <div class="pt-2 WC_SymptomPill__Name">{{spl.specializationName}}</div>
        </div>
      </button>
    </div>
    </div>
  </div>

  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">
      Choose Symptoms that you can treat
    </div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <!-- <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div> -->
  </div>
  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let sym of symptoms">
      <button type="button" class="btn btn-outline-info btn-sm button-img">
        <div class="WC_SymptomPill">
          <div class="WC_SymptomPill__Image">
            <div class="custom-control custom-checkbox mb-4">
              <input
                class="custom-control-input"
                id="sym+{{sym.symptomsId}}"
                type="checkbox"
                (click)="selectedItem(sym.symptomsId,'Symptoms',$event.target.checked)"
              />
              <label class="custom-control-label" for="sym+{{sym.symptomsId}}">
                <!-- <span>Unchecked</span> -->
              </label>
            </div>
            <img
              src="{{ sym.symptomImgUrl }}"
              class="WC_SymptomPill__Image__Img"
            />
          </div>
          <div class="pt-2 WC_SymptomPill__Name">{{ sym.symptomDescription }}</div>
        </div>
      </button>
      </div>
    </div>
  </div>

  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Choose Diagnosis you treat</div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <!-- <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div> -->
  </div>
  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let daigno of diagnosis">
        <button type="button" class="btn btn-outline-info btn-sm button-img">
          <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
              <div class="custom-control custom-checkbox mb-4">
                <input
                  class="custom-control-input"
                  id="daigno+{{daigno.diagnosisId}}"
                  type="checkbox"
                  (click)="selectedItem(daigno.diagnosisId,'Diagnosis',$event.target.checked)"
                />
                <label class="custom-control-label" for="daigno+{{daigno.diagnosisId}}">
                  <!-- <span>Unchecked</span> -->
                </label>
              </div>
              <img
                src="{{ daigno.diagnosisImgUrl }}"
                class="WC_SymptomPill__Image__Img"
              />
            </div>
            <div class="pt-2 WC_SymptomPill__Name">{{ daigno.diagnosisDescription }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <button class="button1" type="submit" (click)="openPopup()">Submit</button>
</div>

<div class="popup" id="popup">
  <!-- <img width="80" height="80" src="../../assets/img/tick.png" alt="" /> -->
  <h3>Thank you</h3>
  <p>Your profile have been successfully submitted .</p>

  <button style="margin-top: 0" type="button" (click)="closePopup()">OK</button>
</div>
