<main>
  <div class="main_conatainer"></div>
</main>
<div class="container1">
  <div class="WC_PrimarySymptom__Title">What is your concern?</div>
  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Most Selected Issues</div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div>
  </div>

  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let sym of selectedIssue">
        <button type="button" class="btn btn-outline-info btn-sm button-img">
          <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
              <div class="custom-control custom-checkbox mb-4">
                <input
                  class="custom-control-input"
                  id="sel+{{sym.symptomsId}}"
                  type="checkbox"
                  (click)="selectedItem(sym.symptomsId,$event.target.checked)"
                />
                <label class="custom-control-label" for="sel+{{sym.symptomsId}}">
                  <!-- <span>Unchecked</span> -->
                </label>
              </div>
              <img
                src="{{ sym.symptomImgUrl }}"
                class="WC_SymptomPill__Image__Img"
              />
            </div>
            <div class="pt-2 WC_SymptomPill__Name">{{ sym.symptomDescription }}</div>
          </div>
        </button>
        </div>
      </div>
    </div>
    
  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Common Health Issues</div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div>
  </div>
  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let sym of healthIssue">
        <button type="button" class="btn btn-outline-info btn-sm button-img">
          <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
              <div class="custom-control custom-checkbox mb-4">
                <input
                  class="custom-control-input"
                  id="health+{{sym.symptomsId}}"
                  type="checkbox"
                  (click)="selectedItem(sym.symptomsId,$event.target.checked)"
                />
                <label class="custom-control-label" for="health+{{sym.symptomsId}}">
                  <!-- <span>Unchecked</span> -->
                </label>
              </div>
              <img
                src="{{ sym.symptomImgUrl }}"
                class="WC_SymptomPill__Image__Img"
              />
            </div>
            <div class="pt-2 WC_SymptomPill__Name">{{ sym.symptomDescription }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Skin And Hair Issues</div>
    <div class="WC_SymptomGroup__TopBar__Divider"></div>
    <div class="px-4">
      <button class="button1" (click)="getSpecialitiesList()">Continue</button>
    </div>
  </div>
  <div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left: 50px">
      <div *ngFor="let sym of skinIssue">
        <button type="button" class="btn btn-outline-info btn-sm button-img">
          <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
              <div class="custom-control custom-checkbox mb-4">
                <input
                  class="custom-control-input"
                  id="skin+{{sym.symptomsId}}"
                  type="checkbox"
                  (click)="selectedItem(sym.symptomsId,$event.target.checked)"
                />
                <label class="custom-control-label" for="skin+{{sym.symptomsId}}">
                  <!-- <span>Unchecked</span> -->
                </label>
              </div>
              <img
                src="{{ sym.symptomImgUrl }}"
                class="WC_SymptomPill__Image__Img"
              />
            </div>
            <div class="pt-2 WC_SymptomPill__Name">{{ sym.symptomDescription }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
