<div class="main-container row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="signin_right_container">
        <form [formGroup]="editForm" *ngIf="this.role != 'Doctor'" >
          <div class="card card-login card-hidden card-center">
            <div class="card-header card-header-info text-center">
              <h4 class="card-title">Edit Profile</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">First Name:  </label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" formControlName="firstName"                            
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.firstName.touched && m.firstName.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.firstName.errors?.required">First Name is required</small>
                <small *ngIf="m.firstName.errors?.pattern">Invalid First name</small>
                <small *ngIf="m.firstName.errors?.whitespace">Whitespace is not allowed</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Last Name:  </label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" formControlName="lastName"                            
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.lastName.touched && m.lastName.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.lastName.errors?.required">Last Name is required</small>
                <small *ngIf="m.lastName.errors?.pattern">Invalid Last Name</small>
                <small *ngIf="m.lastName.errors?.whitespace">Whitespace is not allowed</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Middle Name:  </label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" formControlName="middleName"                            
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.middleName.touched && m.middleName.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.middleName.errors?.required">Middle Name is required</small>
                <small *ngIf="m.middleName.errors?.pattern">Invalid Middle Name</small>
                <small *ngIf="m.middleName.errors?.whitespace">Whitespace is not allowed</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">State:  </label>
                        <div class="input-group col-sm-5">
                            <select class="custom-select" formControlName="state">
                                <option value="">Choose State</option>
                                <option *ngFor="let state of states" [ngValue]="state">
                                {{ state }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.state.touched && m.state.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.state.errors?.required">State is required</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">City:  </label>
                        <div class="input-group col-sm-5">
                        <select class="custom-select" formControlName="city">
                            <option value="">Choose City</option>
                            <option *ngFor="let city of cities" [ngValue]="city">
                             {{ city }}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.city.touched && m.city.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.city.errors?.required">City is required</small>
                </div>
                <div class="row">
                    <label class="col-sm-3 col-form-label">Gender:  </label>
                    <div class = "row" *ngIf="!this.isEdit">
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="male" checked> Male
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="female"> Female
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class = "row" *ngIf="this.isEdit">
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" [value]="isMale" checked> Male
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" [value]="isFemale"> Female
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary" (click)="editPatient()" type="submit">Submit</button>
        </div>
        </form>

        <form [formGroup]="editProviderForm" *ngIf="this.role == 'Doctor' ">
            <div class="card card-login card-hidden card-center">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Edit Profile</h4>
                </div>
                <div class="card-body">
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">First Name:  </label>
                          <div class="input-group col-sm-5">
                              <input type="text" class="form-control" formControlName="firstName"                            
                          />
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.firstName.touched && m.firstName.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.firstName.errors?.required">First Name is required</small>
                  <small *ngIf="m.firstName.errors?.pattern">Invalid First name</small>
                  <small *ngIf="m.firstName.errors?.whitespace">Whitespace is not allowed</small>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Last Name:  </label>
                          <div class="input-group col-sm-5">
                              <input type="text" class="form-control" formControlName="lastName"                            
                          />
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.lastName.touched && m.lastName.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.lastName.errors?.required">Last Name is required</small>
                  <small *ngIf="m.lastName.errors?.pattern">Invalid Last Name</small>
                  <small *ngIf="m.lastName.errors?.whitespace">Whitespace is not allowed</small>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Age:  </label>
                          <div class="input-group col-sm-5">
                              <input type="number" class="form-control" formControlName="age"
                              required
                          />
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.age.touched && m.age.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.age.errors?.required">Age is required</small>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">State:  </label>
                          <div class="input-group col-sm-5">
                              <!-- <input type="text" class="form-control" formControlName="state"
                              required
                          /> -->
                              <select class="custom-select" formControlName="state">
                                  <option value="">Choose State</option>
                                  <option *ngFor="let state of states" [ngValue]="state">
                                  {{ state }}
                                  </option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.state.touched && m.state.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.state.errors?.required">State is required</small>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">City:  </label>
                          <div class="input-group col-sm-5">
                              <!-- <input type="text" class="form-control" formControlName="city"
                              required
                          /> -->
                          <select class="custom-select" formControlName="city">
                              <option value="">Choose City</option>
                              <option *ngFor="let city of cities" [ngValue]="city">
                               {{ city }}
                              </option>
                          </select>
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.city.touched && m.city.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.city.errors?.required">City is required</small>
                  </div>
                  <div class="row">
                      <label class="col-sm-3 col-form-label">Gender:  </label>
                      <div class = "row" *ngIf="this.isEdit">
                          <div class="col-sm-4 checkbox-radios">
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input class="form-check-input" type="radio" formControlName="gender" [value]= "isMale" checked> Male
                                      <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                              </div>
                          </div>
                          <div class="col-sm-4 checkbox-radios">
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input class="form-check-input" type="radio" formControlName="gender" [value]= "isFemale" > Female
                                      <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class = "row" *ngIf="!this.isEdit">
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="male"> Male
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="female"> Female
                                    <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- <div class="form-group" *ngIf="this.role == 'Doctor' ">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Specialization:  </label>
                          <div class="input-group col-sm-5">
                              <input type="text" class="form-control" formControlName="specialization"
                              required
                          />
                          </div>
                      </div>
                  </div>
                  <div class="form-group" *ngIf="this.role == 'Doctor'" >
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Experience:  </label>
                          <div class="input-group col-sm-5">
                              <input type="text" class="form-control" formControlName="experience"
                              required
                          />
                          </div>
                      </div>
                  </div> -->
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Professinal Statement:  </label>
                          <div class="input-group col-sm-5">
                              <input type="text" class="form-control" formControlName="professinalStatement"
                              required
                          />
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.professinalStatement.touched && m.professinalStatement.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.professinalStatement.errors?.required">Professinal Statementis required</small>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <label class="col-sm-3 col-form-label">Practicing From:  </label>
                          <div class="input-group col-sm-5">
                              <input type="date"  class="form-control" formControlName="practicingFrom"/>
                          </div>
                      </div>
                  </div>
                  <div class="text-danger input-group" *ngIf="m.practicingFrom.touched && m.practicingFrom.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.practicingFrom.errors?.required">Practicing From required</small>
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Price:  </label>
                        <div class="input-group col-sm-5">
                            <input type="number" class="form-control" formControlName="price"
                            required
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.price.touched && m.price.invalid"
                style="color: red; padding-left: 200px">
                <small *ngIf="m.price.errors?.required">Price is required</small>
                </div>
                  <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Languages:  </label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" formControlName="language"
                            required
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.language.touched && m.language.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.language.errors?.required">Language is required</small>
                  <small *ngIf="m.language.errors?.pattern">Invalid Language</small>
                  <small *ngIf="m.language.errors?.whitespace">Whitespace is not allowed</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Qualification:  </label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" formControlName="qua"
                            required
                        />
                        </div>
                    </div>
                </div>
                <div class="text-danger input-group" *ngIf="m.language.touched && m.language.invalid"
                  style="color: red; padding-left: 200px">
                  <small *ngIf="m.language.errors?.required">Qualification is required</small>
                  <small *ngIf="m.language.errors?.pattern">Invalid Qualification</small>
                  <small *ngIf="m.language.errors?.whitespace">Whitespace is not allowed</small>
                </div>
                </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary" (click)="editProvider()" type="submit">Submit</button>
          </div>
          </form>
    </div>
</div>
</div>    
